<div class="container">
    <p id="notice"><%= notice %></p>
    
    <div class="row">
    <% @rappers.each do |rapper| %>
        <div class="card col-lg-3 text-center" style="width: 18rem; margin: 40px;">
            <div class="card-body">              
                <h5 class="card-title text-center"><%= link_to rapper.name, rapper_path(rapper) %></h5>
                <%= link_to 'Edit', edit_rapper_path(rapper)%>
            </div>
        </div>
    <% end %> 
    
    </div
    
    

</div>

