<div class="container">
    <h4 class="text-white">Users signed up: <%= @users.all.count %></h4>
    <h4 class="text-white">Users voted: <%= get_total_votes %></h4>
    <%= line_chart [
        {name: "Users signed up", data: @users.group_by_day(:created_at).count},
        {name: "Users voted", data: ActsAsVotable::Vote.all.group_by_day(:created_at).count}], lineWidth: 20,
    library: {
        animation: {easing: 'easeOutQuart'},
        legend: {
             labels: {
                  fontColor: 'white'
                 }
              },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor: 'white'
                },
            }],
          xAxes: [{
                ticks: {
                    fontColor: 'white'
                },
            }]
        } 
    }  %>
    
    <div class="row">
    <% @rappers.each do |rapper| %>
        <div class="card col-lg-3 text-center" style="width: 18rem; margin: 40px;">
            <div class="card-body">              
                <h5 class="card-title text-center"><%= link_to rapper.name, rapper_path(rapper) %></h5>
            </div>
        </div>
    <% end %> 
    
    </div>
    
    

</div>

