<body>
    <div class="container rules">
        <div class="row">
            <div class="col col-lg-10 offset-lg-2">
                <h1>Rules</h1>
                <p class="bd-lead">BÌnh chọn quán quân Rapviet để dành được phần thưởng lên đến $100 tiền mặt</p>
                    <ol>
                        <li>Đăng kí tài khoản</li>
                        <li>Bình chọn cho rapper mà bạn yêu thích nhất</li>
                        <li>Chọn con số may mắn và click vào nút xác nhận</li>
                        <li>Click vào nút share bên dưới và đăng bài lên tường nhà bạn ở chế độ công khai cùng với hashtag #rapvietvote</li>
                    </ol>
                <p class="bd-lead">Lưu ý:</p> 
                    <ul>
                        <li>Bạn chỉ có 1 lượt vote.</li>
                        <li>Bạn không thể thay đổi bình chọn của mình sau khi bình chọn xong. </li>
                        <li>Bạn không thể thay dổi con số may mắn sau khi click confirm.</li>
                    </ul>
        
                <p class="bd-lead">Điều kiện để trở thành người nhận được phần quà trị giá lên đến $100 tiền mặt:</p> 
                    <ul>
                        <li>Rapper bạn bình chọn chính là quán quân của Rapviet 2020.</li>
                        <li>Con số may mắn của bạn trùng hoặc gần đúng nhất con số của chương trình trong tất cả voters.</li>
                        <li>Nếu có 2 người trở lên có cùng số may mắn hoặc có độ gần đúng của con số may mắn bằng nhau và lười bình chọn quán quân rapviet chính xác, thì người có bài share facebook với số lượng like lớn hơn sẽ là người chiến thắng ( còn nếu mà có bài lượt like như nhau thì chia đều).</li>
                    </ul>	
        
                    <p>****HẠN CHÓT DỂ VOTE LÀ NGÀY 6 THÁNG 11 TRƯỚC 11:59 PM***</p>
            </div>
        </div>
        
    </div>
<body>